
<!--<div class="sidebar-wrapper sidebar-theme">
    <nav id="sidebar">

        <ul class="navbar-nav theme-brand flex-row  text-center">
            <li class="nav-item theme-logo">
                <a href="index.html">
                    <img src="assets/img/90x90.jpg" class="navbar-logo" alt="logo">
                </a>
            </li>
            <li class="nav-item theme-text">
                <a href="index.html" class="nav-link"> Batman Üniversitesi </a>
            </li>
        </ul>

        <ul class="list-unstyled menu-categories" id="accordionExample">


            <li class="menu menu-heading">
                <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span>Rehber Yönetimi</span></div>
            </li>

            <li class="menu">
                <a aria-expanded="false" class="dropdown-toggle">
                    <div class="">

                        <i style="color:black;font-size:8px;" class="fa fa-circle "></i>
                        <span>Rehber Yönetimi</span>
                    </div>
                </a>
            </li>



        </ul>

    </nav>

    </div>-->